body {

  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: mediumpurple;
}

.main_div{

  background-color: aliceblue;
  width: 300px;
  height: 450px;
  border: 5px solid;
  border-radius: 10px;
  text-align: center;
  margin: 5% 20px 10px 40%;
  font-size: 30px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

h1{
  background-color: purple;
  color: white;
  font-size: 35px;

}


button{
  font-size: 15px;
  padding: 12px;
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: orange;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10px;

}

button:hover{

  cursor: pointer;
  background-color: green;
}

input{
  border-bottom: 2px solid purple;
  width: 60%;
  height: 30px;
  top: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  background: transparent;
  outline: none;
  border: none;
}

ol{
  margin-top: 20px;
}

ol li{
  padding-left: 0px;
  list-style: none;
  color: purple;
  float: left;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  
  .main_div{

   justify-content: center;
   margin-left: 50px;
   margin-top: 50px;
  }

  button{

    width: 40px;
    min-height: 30px;
    border: 50%;
  }

  input{
    
  }
}

p{

  color: black;
  font-family: 'Times New Roman', Times, serif;
}