body {

  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: mediumpurple;
}

div{

  text-align: center;
  padding-top: 11%;
  font-size: 30px;
  color: white;
  /* padding: 10px; */
}


button{

  margin-top: 13px;
  padding: 15px;
  border: 2px solid;
  border-radius: 5px;
  color: white;
  background-color: orange;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10%;

}

button:hover{

  cursor: pointer;
}

