body{

    background-color: aquamarine;
    /* padding: 0px;
    max-width: 0px; */
}

div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;

}

h1{

    background-color: bisque;
    padding: 30px;
    margin: 25%;
    border-radius: 16px;
    /* text-align: center; */
    color: orange;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}